* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
  }
  .nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgba(252,136,41, .9);
    position: relative;
  }
  h1{
    padding-left: 20px;
  }
  .nav img{
    display: none;
  }
  .nav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    font-weight: 800;
  }
  .nav a:hover {
    background-color: rgb(241, 223, 58);
    color: black;
  }
  .animation {
    animation-name: ani;
    animation-duration: 1.5s;
  }
  @keyframes ani {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .slideshow-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .bannerwrap{
    width: 100%;
    position: relative;
  }
  .previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ;
    border-radius: 0 10px 10px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }
  .previous:hover, .next:hover {
    background-color: rgba(252,136,41, .9);
  }
  img{
    width:100%;
    height: 250px;
  }
  .slideshow-container {
    display: flex;
    justify-content: center;
  }
  .siteList{
    font-size: 30px;
    margin-bottom: 20px;
  }
  main{
    display: flex;
    justify-content: center;
  }
  #searchForm{
    width: 1000px;
  }
  .seachwrap{
    display: flex;
    justify-content: space-between;
  }
  .info{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
  }
  .seachtext{
    display:flex;
    justify-content: center;
    width: 68%;
  }
  .seach{
    display:flex;
    justify-content: center;
    width: 30%;
  }
  input{
    justify-content: center;
    border: 2px solid rgb(247, 194, 81);
    background-color: rgb(230, 227, 202);
    width: 95%;
    height: 60px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px 0px;
    font-size: 24px;
  }
  button{
    background-color: rgb(255, 220, 21);
    width: 70%;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0px;
    color: rgb(94, 89, 48);
    font-weight: 700;
    font-size: 30px;
  }
  button:hover{
    color:black;
    border: 2px solid rgb(121, 114, 53);
  }
  @media screen and (max-width: 768px) {
    .slideshow-container {
      width: 100%;
    }
    .wdisplay{
      display: flex;
      flex-wrap: wrap;
      font-size: 30px;
      top:100%;
      left: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      background-color: rgba(252,136,41, .9);
    }
    .adisplay{
      display: block;
      text-decoration: none;
      color: black;
      width: 100%;
      font-weight: 700;
    }
    .wrap .link{
      display: none;
    }
    .nav img{
      height: 40px;
      width: 40px;
      display: block;
      vertical-align: middle;
    }
    img{
      width:100%;
      height: 250px;
    }
    #searchForm{
     width: 95%;
    }
    .seachwrap{
      display: block;
    }
    .seachtext{
      width: 100%;
      padding: 0 20px;
    }
    .seach{
      display:flex;
      justify-content: center;
      width: 100%;
    }
    button{
      width: 40%;
    }
  }  